<div>
    <span class="oi oi-chevron-left"></span>
    <span>@(Jaar)</span>
    <span class="oi oi-chevron-right"></span>
</div>

<svg id="svg-container" width="@(TotaleBreedte)" height="@(TotaleHoogte)">
    <style type="text/css">
        .small {
            font: 13px sans-serif;
        }
    </style>

    @HtmlJaarTijdlijn()

    @foreach (var tijdlijn in TijdlijnenInJaar)
    {
        //nu even zorgen dat de hele periode in het jaar ligt
        var vanDag = tijdlijn.Periode.Van.DayOfYear - 1;
        var vanMaand = tijdlijn.Periode.Van.Month;
        var totEnMetDag = tijdlijn.Periode.TotEnMet.DayOfYear;
        var totEnMetMaand = tijdlijn.Periode.TotEnMet.Month;
        var totaalDagen = totEnMetDag - vanDag;

        var isGeplaatst = false;
        var rij = 1;
        while (!isGeplaatst)
        {
            if (HeeftOverlapOpDezeRij(rij, tijdlijn))
            {
                rij++;
                continue;
            }
            tijdlijn.Rij = rij;
            TijdlijnenGeplaatst.Add(tijdlijn);
            isGeplaatst = true;
        }

        var yPos = rij * 16;
        var maandOvergangen = totEnMetMaand - vanMaand;

        <rect x="@(Marge + (vanMaand * LijnBreedte) + (vanDag * BreedteFactor))" y="@(HoogteTijdlijn - yPos)"
              width="@((totaalDagen) * BreedteFactor + (maandOvergangen * LijnBreedte))" height="15"
              stroke="green" stroke-width="1" fill="lightgreen"
              rx="2" ry="2"
              @onclick="@(e => ToonInfo(e, tijdlijn))" />
        
        @*<text>
            <text class="small" x="@(Marge + (vanMaand * LijnBreedte) + (vanDag * BreedteFactor) + 2)" y="@(HoogteTijdlijn - (15 / 2))">@(tijdlijn.Periode.Van.Day)</text>
        </text>*@
    }
</svg>


