<div style="line-height: 1.5; align-items:center; display:flex; text-align:center; " >
    <div style="width:50%; margin: 0 auto;">
        <span class="oi oi-chevron-left" @onclick="NaarVorigJaar"></span>
        <span>@(Jaar)</span>
        <span class="oi oi-chevron-right" @onclick="NaarVolgendJaar"></span>
    </div>
</div>

<svg id="svg-container" width="@(TotaleBreedte)" height="@(TotaleHoogte)">
    <style type="text/css">
        .small {
            font: 13px sans-serif;
        }
    </style>

    @HtmlJaarTijdlijn()

    @foreach (var tijdlijn in TijdlijnenInJaar)
    {
        var tijdlijnPositie = BepaalTijdlijnPositie(tijdlijn);

        var vanDag = tijdlijnPositie == Entiteiten.TijdlijnPositie.DeelsInVorigJaar || tijdlijnPositie == Entiteiten.TijdlijnPositie.DeelsInVorigEnVolgendJaar
            ? 1
            : tijdlijn.Periode.Van.DayOfYear;
        vanDag--; //moet er 1 afhalen tbv lengte van de lijn
        var vanMaand = tijdlijnPositie == Entiteiten.TijdlijnPositie.DeelsInVorigJaar || tijdlijnPositie == Entiteiten.TijdlijnPositie.DeelsInVorigEnVolgendJaar
            ? 1
            : tijdlijn.Periode.Van.Month;
        var totEnMetDag = tijdlijnPositie == Entiteiten.TijdlijnPositie.DeelsInVolgendJaar || tijdlijnPositie == Entiteiten.TijdlijnPositie.DeelsInVorigEnVolgendJaar
            ? (IsSchrikkelJaar)
                ? 366
                : 365
            : tijdlijn.Periode.TotEnMet.DayOfYear;
        var totEnMetMaand = tijdlijnPositie == Entiteiten.TijdlijnPositie.DeelsInVolgendJaar || tijdlijnPositie == Entiteiten.TijdlijnPositie.DeelsInVorigEnVolgendJaar
            ? 12
            : tijdlijn.Periode.TotEnMet.Month;
        var totaalDagen = totEnMetDag - vanDag;

        var isGeplaatst = false;
        var rij = 1;
        while (!isGeplaatst)
        {
            if (HeeftOverlapOpDezeRij(rij, tijdlijn))
            {
                rij++;
                continue;
            }
            tijdlijn.Rij = rij;
            TijdlijnenGeplaatst.Add(tijdlijn);
            isGeplaatst = true;
        }

        var yPos = rij * (BreedteFactor * HoogteFactor + 1);
        var maandOvergangen = totEnMetMaand - vanMaand;

        <rect x="@(Marge + (vanMaand * LijnBreedte) + (vanDag * BreedteFactor))" y="@(HoogteTijdlijn - yPos)"
              width="@((totaalDagen) * BreedteFactor + (maandOvergangen * LijnBreedte))" height="@(BreedteFactor * HoogteFactor)"
              stroke="green" stroke-width="1" fill="lightgreen"
              rx="2" ry="2"
              @onclick="@(e => ToonInfo(e, tijdlijn))" />
    }
</svg>


